@font-face {
  font-family: OpenSans Regular;
  src: url(fonts/opensans/OpenSans-Regular.ttf);
  }

  @font-face {
  font-family: Monsterrat Regular;
  src: url(fonts/montserrat/Montserrat-Regular.ttf);
  }

/*Mobile*/
@media screen and (device-aspect-ratio: 2/3)  {
	body.leaf { font-family: 'Monsterrat Regular', 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; margin: 0px 0px 80px 0px; padding: 0px; background-image:none; background-color: white; min-width: 18.75em;  }
	body.leaf .header { height: 95px; }
	body.leaf .header a.logo img { margin-left: 10px; margin-top: 0px; width: 435px; }
	body.leaf .main-content .intro-text { padding-left: 10px; margin-right: 40px;}
	body.leaf .main-content .intro-text h1.home { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 30px; line-height: 34px; color: #333; padding-top: 0px; }
	body.leaf .footer { display: none; }
	body.leaf .pulldown { display: block; margin-left: -20px; position: fixed; bottom: 0px; background-color: #eee; width: 100%; padding-top: 10px; padding-bottom: 10px; z-index: 1; height: 62px; }
	body.leaf .footer .footer-left {margin-left: 0px; margin-top: 10px; white-space: nowrap; }
	body.leaf .footer .footer-right {float: left; clear: both; margin-left: 33px; font-size: 12px; margin-top: 10px; }
	body.leaf .main-content .content { padding-left: 0px; margin-right: 40px; position: absolute; top: 125px; padding-bottom: 150px; }
	body.leaf .main-content .content h1, body.leaf .main-content .doc-content h1 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 50px; line-height: 34px;  color: #333; margin-bottom: 0px; padding-bottom: 10px; margin-top: 0px; padding-top: 5px; }
	body.leaf .main-content .doc-content h2, body.leaf .main-content .content h2  { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 50px; color: #333; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 8px; }
	body.leaf .main-content .doc-content h3 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 21px; color: #333; margin-bottom: 0px; padding-bottom: 0px; }
	body.leaf .main-content .doc-content h4 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 16px; color: #666; margin-bottom: 0px; padding-bottom: 0px; text-transform: uppercase; }
	body.leaf .main-content .nav { display: none; }
	body.leaf .main-content .nav-noscroll { display: none; }
	body.leaf .main-content .content { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; padding-top: 10px; margin-right: 20px; margin-left: 0px; }
	body.leaf .main-content .doc-content { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; padding-top: 0px; margin-right: 10px; margin-left: 0px; margin-bottom: 100px; min-height: 460px; margin-top: 50px; }
	body.leaf .main-content .content-column-left h3, body.leaf .main-content .content-column-right h3 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 50px; color: #333; margin-bottom: 0px; padding-bottom: 0px; }
	body.leaf .main-content .content-column-left { width: 100%; float: left; margin-top: -50px; padding-bottom: 20px; padding-right: 30px; }
	body.leaf .main-content .content-column-right { width: 100%; float: left; margin-top: -30px; padding-bottom: 20px; padding-right: 30px; }
	body.leaf .main-content .content-column-left img, body.leaf .main-content .content-column-right img { display: block; width: 380px; float: left; padding-bottom: 10px; margin-bottom: 0px; margin-right: 30px; padding-top: 20px; }
	body.leaf .main-content .content-column-left a.social { line-height: 36px; font-size: 30px; }
	body.leaf .main-content .content-column-right a.social { line-height: 36px;  font-size: 30px; }
	body.leaf .main-content .content-column-left .social-container, body.leaf .main-content .content-column-right .social-container  { margin-left: 145px; height: 50px; }
	body.leaf .content iframe { width: 100%; float: left; padding-bottom: 20px; padding-right: 30px; margin-top: 30px; margin-bottom: 20px; }  
	body.leaf .doc-content p img { width: 100%; }
	body.leaf .doc-content h1 { font-size: 30px; line-height: 34px;  }
/*	body.leaf .main-content .content .content-column-left { display: none; }
	body.leaf .main-content .content .content-column-right { display: none; } */
	p, blockquote, ol, ul, .content ul.text li, li { font-size: 12pt; line-height: 16pt;  }
	blockquote, ol, ul { margin-left: 20px; margin-right: 20px; }
	body.leaf .main-content .doc-content ul { margin-left: 0px; margin-right: 0px; padding: 0px 15px; }
	body.leaf .main-content .doc-content ul li p { margin: 0px 0px; padding: 4px 0px; }
	body.leaf .main-content .doc-content code { font-family: 'Monaco'; 'Lucida Console', 'Lucida Typewriter', monospace; font-size: 11pt; line-height: 13pt; }
	body.leaf .main-content .doc-content pre { background-color: #d9f8c9; padding: 8px; border: 1px solid #90c077; white-space: pre-wrap; font-family: 'Monaco'; 'Lucida Console', 'Lucida Typewriter', monospace; margin-top: 20px; margin-bottom: 20px;  overflow: hidden; }
	body.leaf .mobile-hide { display: none; }
	body.leaf .main-content .doc-content .download-splash { text-align: center; }
	body.leaf .main-content .doc-content .download-splash h1 { margin-bottom: 20px;  }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell h2 { font-size: 28px; margin-top: -18px; white-space: nowrap; }
 	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell ul { padding: 0; margin-top: 5px 0px 0px 0px; }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell ul li { list-style: none; font-size: 24px; line-height: 34px; }
 	body.leaf .main-content .doc-content .faux-table { width: 100%; background-color: #eee; }
	body.leaf .main-content .doc-content .faux-cell { vertical-align: top; }
 	body.leaf .main-content .doc-content .download-splash a.logo img.arrow { height:160px; margin: 0px; padding: 0px;  }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell a.logo { text-decoration: none; }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell a.logo:hover { background-color: #eee; }	
	form { margin-left: 20px; }
	body.leaf .main-content .pulldown select { border:0; background: transparent; color: #fff; width:350px; -webkit-appearance: none; font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 32px; padding: 5px 12px; -moz-appearance: none; text-indent: 0.01px; text-overflow: ''; height: 60px; }
	body.leaf .main-content .pulldown.styled-select select { width: 95%; background: transparent; height: 60px; overflow: hidden; background: url(images/select.mobile.svg) no-repeat right;font-size: 32px;  }
	body.short .supported td.notes, .supported td.notes ul li  	{background-color:#eee;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;}
	@media screen and (orientation:landscape)  {
	body.leaf .header { display: none; }
	body.leaf .main-content .content { padding-left: 0px; margin-right: 40px; position: absolute; top: 25px; padding-bottom: 0px; }
	body.leaf .main-content .content-column-left h3, body.leaf .main-content .content-column-right h3 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 30px; color: #333; margin-bottom: 0px; padding-bottom: 15px; }
	body.leaf .main-content .content-column-left img, body.leaf .main-content .content-column-right img { display: block; width: 250px; float: left; padding-bottom: 10px; margin-bottom: 0px; margin-right: 20px; }
	body.leaf .main-content .content-column-left a.social { line-height: 36px; font-size: 30px; }
	body.leaf .main-content .content-column-right a.social { line-height: 36px;  font-size: 30px; }
	body.leaf .main-content .content-column-left .social-container, body.leaf .main-content .content-column-right .social-container  { float: right; margin-left: 15px; height: 24px; margin-top: -70px; }
	body.leaf .main-content .doc-content .download-splash h1 { display: none; }
	body.leaf .main-content .doc-content .download-splash { margin-top: -50px; }
	}
}

/*iPhone 5*/
@media screen and (device-aspect-ratio: 40/71)  {
	body.leaf { font-family: 'Monsterrat Regular', 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; margin: 0px 0px 80px 0px; padding: 0px; background-image:none; background-color: white; min-width: 18.75em;  }
	body.leaf .header { height: 140px; }
	body.leaf .header a.logo img { margin-left: 10px; margin-top: 16px; width: 535px; }
	body.leaf .main-content .intro-text { padding-left: 10px; margin-right: 40px;}
	body.leaf .main-content .intro-text h1.home { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 30px; line-height: 34px; color: #333; padding-top: 0px; }
	body.leaf .footer { display: none; }
	body.leaf .pulldown { display: block; margin-left: -20px; position: fixed; bottom: 0px; background-color: #eee; width: 100%; padding-top: 10px; padding-bottom: 10px; z-index: 1; height: 62px; }
	body.leaf .footer .footer-left {margin-left: 0px; margin-top: 10px; white-space: nowrap; }
	body.leaf .footer .footer-right {float: left; clear: both; margin-left: 33px; font-size: 12px; margin-top: 10px; }
	body.leaf .main-content .content { padding-left: 0px; margin-right: 40px; position: absolute; top: 185px; padding-bottom: 200px; }
	body.leaf .main-content .doc-content { padding-left: 0px; margin-right: 40px; position: absolute; top: 135px; padding-bottom: 200px; }	
	body.leaf .main-content .content h1, body.leaf .main-content .doc-content h1 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 50px; line-height: 34px;  color: #333; margin-bottom: 0px; padding-bottom: 10px; margin-top: 0px; padding-top: 5px; }
	body.leaf .main-content .doc-content h2, body.leaf .main-content .content h2  { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 50px; color: #333; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 8px; }
	body.leaf .main-content .doc-content h3 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 21px; color: #333; margin-bottom: 0px; padding-bottom: 0px; }
	body.leaf .main-content .doc-content h4 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 16px; color: #666; margin-bottom: 0px; padding-bottom: 0px; text-transform: uppercase; }
	body.leaf .main-content .nav { display: none; }
	body.leaf .main-content .nav-noscroll { display: none; }
	body.leaf .main-content .content { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; padding-top: 10px; margin-right: 20px; margin-left: 0px; }
	body.leaf .main-content .doc-content { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; padding-top: 0px; margin-right: 10px; margin-left: 0px; margin-bottom: 100px; min-height: 460px; margin-top: 50px; }
	body.leaf .main-content .content-column-left h3, body.leaf .main-content .content-column-right h3 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 50px; color: #333; margin-bottom: 0px; padding-bottom: 0px; }
	body.leaf .main-content .content-column-left { width: 100%; float: left; margin-top: -50px; padding-bottom: 20px; padding-right: 30px; }
	body.leaf .main-content .content-column-right { width: 100%; float: left; margin-top: -30px; padding-bottom: 20px; padding-right: 30px; }
	body.leaf .main-content .content-column-left img, body.leaf .main-content .content-column-right img { display: block; width: 380px; float: left; padding-bottom: 10px; margin-bottom: 0px; margin-right: 30px; padding-top: 20px; }
	body.leaf .main-content .content-column-left a.social { line-height: 36px; font-size: 30px; }
	body.leaf .main-content .content-column-right a.social { line-height: 36px;  font-size: 30px; }
	body.leaf .main-content .content-column-left .social-container, body.leaf .main-content .content-column-right .social-container  { margin-left: 145px; height: 50px; }
	body.leaf .content iframe { width: 100%; float: left; padding-bottom: 20px; padding-right: 30px; margin-top: 30px; margin-bottom: 20px; }  
	body.leaf .doc-content p img { width: 100%; }
	body.leaf .doc-content h1 { font-size: 30px; line-height: 34px;  }
/*	body.leaf .main-content .content .content-column-left { display: none; }
	body.leaf .main-content .content .content-column-right { display: none; } */
	p, blockquote, ol, ul, .content ul.text li, li { font-size: 12pt; line-height: 16pt;  }
	blockquote, ol, ul { margin-left: 20px; margin-right: 20px; }
	body.leaf .main-content .doc-content ul { margin-left: 0px; margin-right: 0px; padding: 0px 15px; }
	body.leaf .main-content .doc-content ul li p { margin: 0px 0px; padding: 4px 0px; }
	body.leaf .main-content .doc-content code { font-family: 'Monaco'; 'Lucida Console', 'Lucida Typewriter', monospace; font-size: 11pt; line-height: 13pt; }
	body.leaf .main-content .doc-content pre { background-color: #d9f8c9; padding: 8px; border: 1px solid #90c077; white-space: pre-wrap; font-family: 'Monaco'; 'Lucida Console', 'Lucida Typewriter', monospace; margin-top: 20px; margin-bottom: 20px;  overflow: hidden; }
	body.leaf .mobile-hide { display: none; }
	body.leaf .main-content .doc-content .download-splash, body.leaf .main-content .doc-content .container { text-align: left; }
	body.leaf .main-content .content .download-splash { width: 100%; margin-top: 20px; }
	body.leaf .main-content .doc-content .download-splash h1 { margin-bottom: 20px;  }
	body.leaf .main-content .doc-content .container .download-splash .faux-table { width: 900px; }
	body.leaf .main-content .doc-content .container .download-splash .faux-table .faux-cell { vertical-align: top; }	
	body.leaf .main-content .doc-content .container .download-splash .faux-table .faux-cell ul li { line-height: 56px; font-size: 32px;}	
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell h2 { font-size: 28px; margin-top: -18px; white-space: nowrap; }
	body.leaf .main-content .content .download-splash .faux-table .faux-cell h2 { font-size: 32px; margin-top: -10px; white-space: nowrap; }
 	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell ul { padding: 0; margin-top: 5px 0px 0px 0px; }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell ul li { list-style: none; line-height: 56px; font-size: 32px; }
	body.leaf .main-content .content .download-splash .faux-table .faux-cell ul li { list-style: none; font-size: 32px; line-height: 64px; }
 	body.leaf .main-content .doc-content .faux-table,  body.leaf .main-content .content .faux-table { width: 100%; background-color: #eee; }
	body.leaf .main-content .doc-content .faux-cell { vertical-align: top; }
 	body.leaf .main-content .doc-content .download-splash a.logo img.arrow { height:250px; margin: 0px 10px; padding: 0px;  }
 	body.leaf .main-content .content .download-splash a.logo img.arrow { height:260px; margin: -15px 10px; padding: 0px;  }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell a.logo { text-decoration: none; }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell a.logo:hover { background-color: #eee; }	
	form { margin-left: 20px; }
	body.leaf .main-content .pulldown select { border:0; background: transparent; color: #fff; width:350px; -webkit-appearance: none; font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 32px; padding: 25px 12px; -moz-appearance: none; text-indent: 0.01px; text-overflow: '';}
	body.leaf .main-content .pulldown.styled-select {  height: 120px; }
	body.leaf .main-content .pulldown.styled-select select { width: 95%; background: transparent; overflow: hidden; background: url(images/select.mobile.svg) no-repeat right; font-size: 54px; bottom:0px; }
	body.short .supported td.notes, .supported td.notes ul li  	{background-color:#eee;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;}
	@media screen and (orientation:landscape)  {
	body.leaf .header { display: none; }
	body.leaf .main-content .content, body.leaf .main-content .doc-content { padding-left: 0px; margin-right: 40px; position: absolute; top: 25px; padding-bottom: 0px; }
	body.leaf .main-content .content-column-left h3, body.leaf .main-content .content-column-right h3 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 30px; color: #333; margin-bottom: 0px; padding-bottom: 15px; }
	body.leaf .main-content .content-column-left img, body.leaf .main-content .content-column-right img { display: block; width: 250px; float: left; padding-bottom: 10px; margin-bottom: 0px; margin-right: 20px; }
	body.leaf .main-content .content-column-left a.social { line-height: 36px; font-size: 30px; }
	body.leaf .main-content .content-column-right a.social { line-height: 36px;  font-size: 30px; }
	body.leaf .main-content .content-column-left .social-container, body.leaf .main-content .content-column-right .social-container  { float: right; margin-left: 15px; height: 24px; margin-top: -70px; }
	body.leaf .main-content .doc-content .download-splash h1 { display: none; }
	body.leaf .main-content .doc-content .download-splash { margin-top: -50px; }
	body.leaf .main-content .pulldown select { border:0; background: transparent; color: #fff; width:350px; -webkit-appearance: none; font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 32px; padding: 5px 12px; -moz-appearance: none; text-indent: 0.01px; text-overflow: ''; height: 60px; }
	body.leaf .main-content .pulldown.styled-select {  height: 60px; }
	body.leaf .main-content .pulldown.styled-select select { width: 95%; background: transparent; height: 60px; overflow: hidden; background: url(images/select.mobile.svg) no-repeat right;font-size: 32px;  }
}	
}


/*styles for 300 and up @ 16px!*/
@media screen and (min-width: 18.75em) and (max-width: 40em) {
	body.leaf { font-family: 'Monsterrat Regular', 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; margin: 0px 0px 80px 0px; padding: 0px; background-image:none; background-color: white; min-width: 18.75em;  }
	body.leaf .header { height: 65px; }
	body.leaf .header a.logo img { margin-left: 10px; width: 235px; }
	body.leaf .main-content .intro-text { padding-left: 10px; margin-right: 40px;}
	body.leaf .main-content .intro-text h1.home { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 30px; line-height: 34px; color: #333; padding-top: 0px; }
	body.leaf .footer { display: none; }
	body.leaf .pulldown { display: block; margin-left: -20px; position: fixed; bottom: 0px; background-color: #eee; width: 100%; padding-top: 10px; padding-bottom: 10px; z-index: 1; }
	body.leaf .footer .footer-left {margin-left: 0px; margin-top: 10px; white-space: nowrap; }
	body.leaf .footer .footer-right {float: left; clear: both; margin-left: 33px; font-size: 12px; margin-top: 10px; }
	body.leaf .main-content .content { padding-left: 0px; margin-right: 40px; position: absolute; top: 75px; padding-bottom: 80px; }
	body.leaf .main-content .content h1 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 30px; line-height: 34px;  color: #333; margin-bottom: 0px; padding-bottom: 10px; margin-top: 0px; padding-top: 5px; }
	body.leaf .main-content .doc-content h2 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 24px; color: #333; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 8px; }
	body.leaf .main-content .doc-content h3 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 21px; color: #333; margin-bottom: 0px; padding-bottom: 0px; }
	body.leaf .main-content .doc-content h4 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 16px; color: #666; margin-bottom: 0px; padding-bottom: 0px; text-transform: uppercase; }
	body.leaf .main-content .nav { display: none; }
	body.leaf .main-content .nav-noscroll { display: none; }
	body.leaf .main-content .content { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; padding-top: 10px; margin-right: 20px; margin-left: 0px; }
	body.leaf .main-content .doc-content { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; padding-top: 0px; margin-right: 10px; margin-left: 0px; min-height: 460px; }
	body.leaf .main-content .content-column-left { width: 100%; float: left; margin-top: -20px; padding-bottom: 20px; padding-right: 30px; }
	body.leaf .main-content .content-column-right { width: 100%; float: left; padding-bottom: 20px; padding-right: 30px; }
	body.leaf .main-content .content-column-left img { width: 140px; float: left; padding-bottom: 10px; margin-bottom: 0px; margin-right: 30px; }
	body.leaf .main-content .content-column-right img { width: 140px; float: left; padding-bottom: 10px; margin-bottom: 0px; margin-right: 30px; }
	body.leaf .main-content .content-column-left a.social { line-height: 36px; }
	body.leaf .main-content .content-column-right a.social { line-height: 36px; }
	body.leaf .main-content .content-column-left .social-container { margin-left: 145px; height: 100px; }
	body.leaf .main-content .content-column-right .social-container { margin-left: 145px; height: 100px; }
	body.leaf .content iframe { width: 100%; float: left; padding-bottom: 20px; padding-right: 30px; }  
	body.leaf .doc-content p img { width: 100%; }
	body.leaf .doc-content h1 { font-size: 30px; line-height: 34px;  }
/*	body.leaf .main-content .content .content-column-left { display: none; }
	body.leaf .main-content .content .content-column-right { display: none; } */
	p, blockquote, ol, ul, .content ul.text li, li { font-size: 10.5pt; line-height: 14pt; }
	blockquote, ol, ul { margin-left: 20px; margin-right: 20px; }
	body.leaf .main-content .doc-content ul { margin-left: 0px; margin-right: 0px; padding: 0px 15px; }
	body.leaf .main-content .doc-content ul li p { margin: 0px 0px; padding: 4px 0px; }
	body.leaf .main-content .doc-content code { font-family: 'Monaco'; 'Lucida Console', 'Lucida Typewriter', monospace; font-size: 9pt; }
	body.leaf .main-content .doc-content pre { background-color: #d9f8c9; padding: 8px; border: 1px solid #90c077; white-space: pre-wrap; font-family: 'Monaco'; 'Lucida Console', 'Lucida Typewriter', monospace; }
	body.leaf .mobile-hide { display: none; }
	body.leaf .main-content .doc-content .download-splash { text-align: center; }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell h2 { font-size: 90%; margin-top: -18px; white-space: nowrap; }
 	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell ul { padding: 0; margin-top: 5px 0px 0px 0px; }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell ul li { list-style: none; font-size: 75%; }
 	body.leaf .main-content .doc-content .faux-table { width: 100%; background-color: #eee; }
	body.leaf .main-content .doc-content .faux-cell {  }
 	body.leaf .main-content .doc-content .download-splash a.logo img.arrow { height:80px; margin: 0px; padding: 0px;  }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell a.logo { text-decoration: none; }
	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell a.logo:hover { background-color: #eee; }	

form { margin-left: 20px; }

select {
    border:0;
    background: transparent;
    color: #fff;
    height:32px;
    width:350px;
    -webkit-appearance: none;
	font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 16px; 
	padding: 5px 12px;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';	
}


.styled-select select {
   width: 95%;
   background: transparent;
   height: 34px;
   overflow: hidden;
   background: url(images/select.svg) no-repeat right;
   border: 1px dotted #fff;
   }
	
}



/*styles for 1100px and up @ 16px!*/
@media screen and (min-width: 40em) and (max-width: 68.75em) {
	.pulldown { display: none; }
}

/*styles for 1100px and up @ 16px!*/
@media screen and (min-width: 68.75em){
	body.short { font-family: 'Monsterrat Regular', 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; margin: 0px 0px 80px 0px; padding: 0px; background-image:none; background-color: white; }
	.main-content .intro-text { padding-left: 30px; margin-right: 40px; }
	.main-content .demonstration {  display: inline; width: 500px; margin: 0px 30px 0px 50px; float: left; padding-bottom: 20px; }
	.main-content .intro-text h1.home {  font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 58px; line-height: 54px; color: #333; }
	.pulldown { display: none; }
	.footer .footer-left {float: left; }
	.footer .footer-right {float: right;  clear: none; margin-left: 0px; font-size: 16px; margin-top: 10px;  }
}

body { font-family: 'Monsterrat Regular', 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; margin: 0px 0px 80px 0px; padding: 0px;; background-image:url(images/white.t.png); background-repeat:no-repeat; background-attachment:fixed; background-color: #fff; min-width: 1100px; }
body.short { font-family: 'Monsterrat Regular', 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; margin: 0px 0px 80px 0px; padding: 0px; background-image:none; background-color: #fff; min-width: 1100px; }

.short { min-height: 250px; }

a { color: #999; padding: 2px 10px; text-decoration: none;  border-bottom: 1px dotted #666; }
a:visited { color: #666;  text-decoration: none; border-bottom: 0px dotted #000; }
a:hover { color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
 
.doc-content a { color: #999; padding: 0px; text-decoration: none; }
.doc-content a:visited { color: #666;  text-decoration: none; border-bottom: 0px dotted #000; }
.doc-content a:hover { color: #000; background-color: #eee; text-decoration: none; border-bottom: 0px dotted #000; }

a.text { color: #999; padding: 0px; text-decoration: none; }
a.text:visited { color: #666;  text-decoration: none; border-bottom: 0px dotted #000; }
a.text:hover { color: #000; background-color: #eee; text-decoration: none; border-bottom: 0px dotted #000; }

a.logo { color: #999; padding: 2px 10px; border-bottom: 0px dotted #000; }
a.toc { color: #999; padding: 2px 0px; border-bottom: 0px dotted #000; }
a.toc:visited { color: #666 }
a.toc:hover { color: #000; text-decoration: none; border-bottom: 1px dotted #666;  }

a.pale { border-bottom: 0px dotted #000; }

a.green:hover { background-color: #6bbf56; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.orange:hover, .doc-content ul li a.select-orange { background-color: #fca34c; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.red:hover { background-color: #f0043e; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.purple:hover { background-color: #8b3e93; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.blue:hover { background-color: #396caf; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.pale:hover { background-color: #fff491; color: #000; text-decoration: none; border-bottom: 0px dotted #000; }
a.orange:hover, .doc-content ul li a.select-pink { background-color: #f05687; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }

a.select-green { background-color: #6bbf56; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.select-orange, .doc-content ul li a.select-orange  { background-color: #fca34c; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.select-red { background-color: #f0043e; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.select-purple { background-color: #8b3e93; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.select-blue { background-color: #396caf; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.select-pale { background-color: #fff491; color: #000; text-decoration: none; border-bottom: 0px dotted #000; }
a.select-pink { background-color: #f05687; color: #fff; text-decoration: none; border-bottom: 0px dotted #000; }
a.select-toc { background-color: #eee; color: #f05687; text-decoration: none; border-bottom: 0px dotted #000; }

.header { font-size: 32px; line-height: 71px; background-color: #000; color: #fff; height: 80px; }
.header-tall { font-size: 32px; line-height: 71px; background-color: #000; color: #fff; height: 130px; text-align: center; }
.header img { width: 300px; padding-top: 16px; margin-left: 44px; border: none; }
.header-tall img { width: 300px; padding-top: 16px; }

.footer { border-top: 1px dotted #ccc; margin-right: 100px; margin-left: 40px; margin-top: 60px; margin-bottom: 30px; clear: both;  }
.footer-left  { float: left; }
.footer-right { float: right; }

.main-content { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; padding-left: 20px; }
.intro-text { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; padding-top: 30px; margin-right: 80px;}
.content { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; padding-top: 10px; margin-right: 80px; margin-left: 300px; }
.doc-content { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; padding-top: 10px; margin-right: 80px; margin-left: 300px; min-height: 460px; }

.content-column-left { width: 45%; float: left; padding-bottom: 40px; padding-right: 30px; }
.content-column-right { width: 45%; float: right; padding-bottom: 40px; padding-right: 30px; }

ul { }
ul.nav { font-family: 'Monsterrat Regular', san serif; list-style: none; white-space: nowrap; float: left; margin-top: 36px; position: fixed; }
ul.nav-noscroll { font-family: 'Monsterrat Regular', san serif; list-style: none; white-space: nowrap; float: left; margin-top: 36px; }
ul.subnav { font-family: 'Monsterrat Regular', san serif; list-style: none; white-space: nowrap; margin-top: 3px; margin-bottom: 6px; margin-left: -36px; }
ul.subnav li { margin-left: 0px; padding-left: 0px; }
ul.nav li { line-height: 32px; }
ul.nav-noscroll li { line-height: 32px; }
ul li { }
ul.text { }
ul.text li { line-height: 22px; padding-top: 9px; padding-bottom: 9px; }
ol { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; margin-left: 0px; margin-top: 8px; margin-bottom: 8px; list-style: none; }
ol li { padding-bottom: 3px; }

dl { font-size: 18px; background-color: #eeeded; padding: 18px; 
		-moz-border-radius: 24px;
		-webkit-border-radius: 24px; border-radius: 24px; /* future proofing */
		-khtml-border-radius: 24px; /* for old Konqueror browsers */
		border: 1px solid #d1d0d0;
	}
dd { padding-bottom: 6px; }
dt { font-family: 'Monsterrat Regular', san serif; padding-top: 6px; padding-bottom: 12px; }

ol.toc-nav { font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; white-space: nowrap; font-size: 14px; margin-left: -30px; margin-top: 8px; margin-bottom: 8px; }
ol.toc-nav li { line-height: 16px; margin-top: 4px; margin-bottom: 4px; }

p.first { padding-top: 0px; margin-top: 0px; }
.annotate { font-size: 12px; color: #f05687; font-style: italic; }

h1.home { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 58px; line-height: 54px; color: #333; }
h1 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 45px; color: #333; margin-bottom: 0px; padding-bottom: 10px; margin-top: 0px; padding-top: 20px; }
h2 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 34px; color: #333; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 20px;  }
h3 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 26px; color: #333; margin-bottom: 0px; padding-bottom: 10px; }
h3.knapsack { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 18px; color: #333; margin-bottom: 0px; padding-bottom: 9px; padding-left: 28px; }
h4 { font-family: 'Monsterrat Regular', san serif; font-weight: normal; font-size: 20px; color: #666; margin-bottom: 0px; padding-bottom: 0px; text-transform: uppercase; }

.montserrat { font-family: 'Monsterrat Regular', san serif;  }

img.doc-image  { width: 100% } 

pre { background-color: #d9f8c9; padding: 20px; border: 1px solid #90c077; white-space: pre-wrap; font-family: 'Monaco'; 'Lucida Console', 'Lucida Typewriter', monospace; }
code { font-family: 'Monaco'; 'Lucida Console', 'Lucida Typewriter', monospace; font-size: 11pt; }

p {font-family: 'OpenSans Regular', 'Open Sans', 'Trebuchet MS', san serif; }



/* thank you, CloCkWeRX! */

	body.leaf .main-content .doc-content .download-splash { text-align: center; }
	body.leaf .main-content .content .download-splash { text-align: center; }
	body.leaf .main-content .doc-content .download-splash .faux-table h2, body.leaf .main-content .content .download-splash .faux-table h2 { font-size: 100%; margin-top: -42px; }
 	body.leaf .main-content .doc-content .download-splash .faux-table .faux-cell ul, body.leaf .main-content .content .download-splash .faux-table .faux-cell ul { padding-left: 0; margin-top: 5px; }
	body.leaf .main-content .doc-content .download-splash ul li, body.leaf .main-content .content .download-splash ul li { list-style: none; font-size: 18px; line-height: 40px; }
 	body.leaf .main-content .doc-content .faux-table, body.leaf .main-content .content .faux-table { display: table; margin: 0px auto 20px auto; background-color: #eee; }
	body.leaf .main-content .doc-content .faux-cell, body.leaf .main-content .content .faux-cell { display: table-cell; padding: 0em 1.0em; }
 	body.leaf .main-content .doc-content .download-splash a.logo img, body.leaf .main-content .content .download-splash a.logo img { height:180px; }
	body.leaf .main-content .doc-content .download-splash a.logo { text-decoration: none; }
	body.leaf .main-content .doc-content .download-splash a.logo:hover, body.leaf .main-content .content .download-splash a.logo:hover { background-color: white; }	

